.j-dropdown {
  display: inline-block;
  position: relative;
  
  > .j-dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1;
  }
  &[data-align="left"] {
    > .j-dropdown-menu {
      left: 0;
    }
  }
  &[data-align="right"] {
    > .j-dropdown-menu {
      right: 0;
    }
  }
}
