.j-auto-complete {
  position: relative;
  width: fit-content;
  .j-scroller {
    position: absolute;
    width: 100%;
    background-color: white;
    max-height: var(--j-j-auto-complete-max-height, 300px);
    height: fit-content;
    .j-listbox-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}