@import "vars";

.j-date-range-input {
  display: inline-block;
  outline: none;
  position: relative;
  &:hover:not([data-disabled="true"]) {
    .j-date-range-input-inner {
      border-color: var(--j-primary-color);
    }
  }
  &[data-focus="true"] {
    .j-date-range-input-inner {
      box-shadow: $outline;
      border: 1px solid var(--j-primary-color-light);
    }
  }
  .j-date-range-input-clear {
    visibility: hidden;
    margin: 0 $margin;
    cursor: pointer;
  }
  &[data-has-input="true"] {
    .j-date-range-input-clear {
      visibility: visible;
    }
  }
  .j-date-range-input-inner {
    border-radius: 3px;
    border: 1px solid var(--j-foreground-color-2);
    transition: border-color 0.2s, box-shadow 0.2s;
    position: relative;
    input {
      outline: none;
      border: none;
      background: none;
      text-align: center;
      width: 5rem;
      padding: 0.5rem 0;
      color: var(--j-text-color);
      &[data-start="true"] {
        margin-right: $margin;
      }
      &[data-end="true"] {
        margin-left: $margin;
      }
    }
    .j-icon {
      color: var(--j-foreground-color-1);
    }
  }
  &[data-which="1"] input[data-start="true"],
  &[data-which="2"] input[data-end="true"] {
    &::placeholder {
      color: var(--j-foreground-color-2);
    }
    background-color: var(--j-primary-color);
    color: var(--j-primary-color-text);
  }
  .j-date-range-input-selector {
    position: absolute;
    display: flex;
    z-index: 1;
  }
}