@import "vars";

.j-input {
  display: inline-flex;
  border-radius: 3px;
  border: 1px solid var(--j-input-border-color, var(--j-foreground-color-1));
  transition: border-color 0.2s, box-shadow 0.2s;
  align-items: center;
  --j-input-height: 30px;
  --j-icon-size: calc(var(--j-input-height) / 2);
  > input {
    height: var(--j-input-height);
    border: none;
    outline: none;
    background: none;
    flex: 1;
    padding: 0;
    margin: 0 $margin;
    min-width: 12rem;
    color: var(--j-text-color);
  }
  &[data-focus="true"] {
    box-shadow: $outline;
    border-color: var(--j-primary-color);
    outline: none;
    z-index: 1;
  }
  &:hover:not([data-disabled="true"]) {
    border-color: var(--j-primary-color);
  }
  &[data-disabled="true"] {
    background-color: #eee;
    cursor: not-allowed;
    > input {
      cursor: not-allowed;
    }
  }
  .j-icon {
    display: block;
  }
  .j-input-prepend, .j-input-append {
    height: fit-content;
  }
  > .j-input-prepend, > .j-input-append {
    color: var(--j-foreground-color-1);
  }
  > .j-input-prepend .j-icon {
    margin-left: $margin;
  }
  > .j-input-append .j-icon, > input ~ .j-icon {
    margin-right: $margin;
  }
  .j-input-clear {
    visibility: hidden;
    cursor: pointer;
  }
  &[data-can-clear="true"] {
    .j-input-clear {
      visibility: visible;
    }
  }
}
