@import "vars";

.j-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  &.modal {
    background-color: rgba(0,0,0,0.6);
    pointer-events: initial;
  }
  .j-popup-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: initial;
    color: var(--j-text-color);
    background-color: var(--j-background-color);
    header {
      height: 30px;
      line-height: 30px;
      cursor: default;
      display: flex;
      h1 {
        flex: 1;
        margin: 0;
        padding-left: $margin;
        font-size: 14px;
        font-weight: 600;
      }
      a.close {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--j-neutral-color);
        &:hover {
          background-color: var(--j-foreground-color-2);
        }
        width: 30px;
        box-sizing: border-box;
        text-align: center;
        padding: 3px;
      }
    }
    main {
      flex: 1;
      padding: 1rem;
    }
    footer {
      padding: $margin 0;
      text-align: right;
      button {
        margin: 0;
        margin-right: $margin;
      }
    }
  }
}

.j-popup-manager {
  .j-popup {
    main {
      display: flex;
      align-items: center;
      > .j-popup-icon {
        margin-right: 0.5rem;
        color: var(--j-primary-color);
      }
      > .j-popup-content {
        margin: 0;
      }
    }
  }
}
