@import "vars";

.j-flex-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &[data-resizing="false"] {
    .j-flex-layout-pane {
      transition: top $t, left $t, width $t, height $t, z-index 0s $t;
      // When in expanded state, a delay is applied to z-index to allow animation to show
      &[data-expanded="true"] {
        transition: top $t, left $t, width $t, height $t;
      }
    }
  }
  .j-flex-layout-pane {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 0;
    overflow: hidden;
    > .j-tabs {
      flex: 1;
      display: flex;
      flex-direction: column;
      > .j-tabs-scroller {
        color: var(--j-text-color);
        background-color: var(--j-background-color-1);
      }
      > .j-tabs-content {
        flex: 1 1 0;
        display: flex;
        padding: 0;
        > .j-tab-pane {
          flex: 1;
          justify-content: center;
          align-content: center;
          display: flex;
        }
      }
    }
    &[data-expanded="true"] {
      z-index: 1001;
    }
    .j-flex-layout-pane-action-menu {
      margin-top: 4px;
      margin-right: 2px;
      > .j-button {
        padding: 0.1rem;
      }
    }
  }
  .j-flex-layout-hint {
    pointer-events: none;
    position: absolute;
    background-color: var(--j-foreground-color-2);
    opacity: 0.5;
    transition: top $t, left $t, width $t, height $t;
  }
}