@import "vars";

$defaultSize: 16px;
.j-icon {
  display: inline-block;
  vertical-align: middle;
  width: var(--j-icon-size, $defaultSize);
  height: var(--j-icon-size, $defaultSize);
  min-width: var(--j-icon-size, $defaultSize);
  min-height: var(--j-icon-size, $defaultSize);
  &[data-size="sm"] {
    --j-icon-size: 16px;
  }
  &[data-size="md"] {
    --j-icon-size: 24px;
  }
  &[data-size="lg"] {
    --j-icon-size: 32px;
  }
  .j-icon-svg {
    display: block;
    line-height: 0;
    width: 100%;
    height: 100%;
    svg {
      width: 100%;
      height: 100%;
    }

    .ionicon {
      fill: currentColor;
      stroke: currentColor;
    }
    .ionicon-fill-none {
      fill: none;
    }
    .ionicon-stroke-width {
      stroke-width: 32px;
    }
  }
}
