@use "sass:math";
@import "vars";

.j-slider {
  display: inline-block;
  width: 15rem;
  
  .j-slider-inner {
    display: flex;
    align-items: center;
    position: relative;
    padding: $margin 0;
    // height: 2rem;
  }
  .j-slider-track {
    width: 100%;
    height: 4px;
    background-color: var(--j-foreground-color-1);
    .j-slider-bar {
      height: 100%;
      background-color: var(--j-primary-color);
    }
  }
  .j-slider-handle {
    $w: 1.2rem;
    $h: 1.2rem;
    border: 2px solid var(--j-primary-color);
    box-sizing: border-box;
    width: $w;
    height: $h;
    border-radius: 50%;
    background: var(--j-primary-color-text);
    margin-left: math.div(-$w, 2);
    margin-top: math.div(-$h, 2);
    position: absolute;
    cursor: grab;
    top: 50%;
    transition: background-color 0.2s;
    box-shadow: $shadow;
    overflow: hidden;
    &:hover {
      // This prevent transparent lighter color from showing background through
      background: white linear-gradient(var(--j-primary-color-light), var(--j-primary-color-light));
    }
  }
}
