@import "vars";

.j-button {
  border: none;
  outline: none;
  padding: 0 0.7rem;
  height: var(--j-button-height, 32px);
  border-radius: var(--j-button-radius, 3px);
  box-sizing: border-box;
  user-select: none;
  direction: ltr;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, opacity 0.2s;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  background-color: var(--j-button-background-color, var(--j-primary-color));
  border: 1px solid var(--j-button-border-color, var(--j-primary-color));
  color: var(--j-button-color, var(--j-primary-color-text));
  &.is-icon {
    padding: 0.5rem;
  }
  &.is-right {
    direction: rtl;
  }
  &:active:not([disabled]) {
    filter: brightness(80%);
  }
  &:focus {
    box-shadow: $outline;
    z-index: 1;
  }
  &:hover {
    opacity: 0.75;
  }
  &[disabled] {
    opacity: 0.5;
  }
  &.is-flat {
    background-color: transparent;
    border-color: transparent;
    --j-button-color: var(--j-primary-color);
  }
  &.is-raised {
    box-shadow: $shadow;
    &:focus {
      box-shadow: $shadow, $outline;
    }
  }
  &.is-outlined {
    background-color: transparent;
    color: var(--j-primary-color);
    --j-button-color: var(--j-primary-color);
    --j-button-border-color: var(--j-primary-color);
    box-sizing: border-box;
  }
  &.is-round {
    --j-button-radius: 10rem;
  }
  &.is-sm {
    font-size: 0.75rem;
    padding: 0 0.5rem;
    --j-button-height: 24px;
  }
  &.is-lg {
    font-size: 1.2rem;
    padding: 0 1.25rem;
    --j-button-height: 42px;
  }
  .j-seperator {
    min-width: $margin;
  }
}
