.j-menu-bar {
  background-color: var(--j-background-color);
  > .j-menu-entry {
    display: inline-block;
    min-width: initial;
    > .j-menu-label {
      padding: 0 0.6rem;
      > .j-icon {
        display: none;
      }
    }
  }
}