@import "vars";

.j-textarea {
  padding: 0.5rem;
  border: 1px solid var(--j-input-border-color, var(--j-border-color));
  background-color: var(--j-background-color);
  border-radius: 3px;
  transition: border-color 0.2s, box-shadow 0.2s;
  min-width: 12rem;
  &:focus:not([disabled]) {
    box-shadow: $outline;
    border-color: var(--j-primary-color);
    outline: none;
  }
  &[disabled] {
    background-color: #eee;
    cursor: not-allowed;
  }
}
