.j-splitter {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  &[data-vertical="true"] {
    flex-direction: column;
    &[data-resizing="true"] {
      cursor: row-resize;
    }
  }
  &[data-vertical="false"] {
    flex-direction: row;
    &[data-resizing="true"] {
      cursor: col-resize;
    }
  }
}

.j-splitter-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}