@use "vars";

.j-switch {
  display: inline-flex;
  align-items: center;
  width: 3rem;
  height: 1.75rem;
  border-radius: 0.875rem;
  background-color: #ccc;
  transition: background-color 0.2s, box-shadow 0.2s;
  outline: none;
  &:focus {
    box-shadow: vars.$outline;
  }
  .j-knob {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.125rem;
    border-radius: 50%;
    background-color: var(--j-primary-color-text);
    transition: transform 0.2s;
  }
  &.j-on {
    background-color: var(--j-primary-color);
    .j-knob {
      transform: translateX(1.25rem);
    }
  }
}
