.j-data-grid {
  overflow: hidden;
  border: 1px solid var(--j-border-color);
  background-color: var(--j-data-grid-background-color, var(--j-border-color));
  .j-data-grid-ruler-group {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px auto;
    .j-data-grid-ruler {
      display: grid;
      grid-gap: 1px;
      .j-data-grid-ruler-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--j-data-grid-ruler-cell-background-color, var(--j-background-color-1));
      }
    }
    .j-data-grid-settings {
      padding: 0;
      display: flex;
      justify-content: center;
      border: none;
      --j-button-height: 30px;
      --j-button-radius: 0;
      --j-button-color: gray;
      &:hover {
        --j-button-color: var(--j-primary-color);
      }
    }  
  }
  .j-data-grid-frame {
    display: grid;
    grid-gap: 1px;
    .j-data-grid-cell {
      padding: 10px;
      display: flex;
      align-items: center;
      background-color: var(--j-data-grid-cell-background-color, var(--j-background-color));
      overflow: hidden;
      word-break: break-all;
      &[data-align="left"] {
        justify-content: flex-start;
      }
      &[data-align="center"] {
        justify-content: center;
      }
      &[data-align="right"] {
        justify-content: flex-end;
      }
    }
  }
}