@use "vars";

.j-tile-layout {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1px;
  .j-tile-layout-pane {
    display: flex;
    position: relative;
    .j-tile-resize {
      position: absolute;
      cursor: se-resize;
      border: 2px solid var(--j-border-color);
      border-left: none;
      border-top: none;
      right: 1px;
      bottom: 1px;
      width: 10px;
      height: 10px;
    }
  }
  .j-tile-layout-placeholder {
    display: flex;
  }
  .j-tile-layout-hint {
    pointer-events: none;
    background-color: var(--j-foreground-color-2);
    opacity: 0.5;
  }
}
