@use "vars";

.j-tile-layout {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1px;
  .j-tile-layout-pane {
    position: relative;
    display: flex;
    flex-direction: column;
    .j-title-layout-title-bar {
      height: 20px;
      background: red;
    }
    .j-tile-resize {
      position: absolute;
      cursor: se-resize;
      border: var(--j-tile-resize-border-width, 2px) solid var(--j-border-color);
      border-left: none;
      border-top: none;
      right: 1px;
      bottom: 1px;
      width: var(--j-tile-resize-size, 6px);
      height: var(--j-tile-resize-size, 6px);
    }
  }
  .j-tile-layout-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    grid-row: 1;
    grid-column: 1;
  }
  .j-tile-layout-hint {
    pointer-events: none;
    .j-tile-layout-hint-animated {
      position: absolute;
      transition: 0.5s;
      opacity: 0.5;
      background-color: var(--j-foreground-color-2);
    }
  }
  .j-tile-layout-unit-cell {
    pointer-events: none;
    opacity: 0;
    grid-area: 1 / 1;
  }
  .j-tile-layout-pane-close {
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--j-border-color);
    &:hover {
      color: var(--j-background-color);
    }
  }
}
