@import "vars";

.j-tabs {
  text-align: left;
  .j-tabs-inner {
    display: flex;
    background: var(--j-background-color);
    .j-tabs-scroller {
      flex: 1;
      min-width: 0;
    }
    .j-tabs-addon {
      border-bottom: 2px solid var(--j-foreground-color-2);
    }
  }
  .j-tabs-bar {
    border-bottom: 2px solid var(--j-foreground-color-2);
    position: relative;
    display: flex;
    white-space: nowrap;
    .j-tabs-bar-inner {
      display: flex;
    }
    .j-tabs-btn {
      position: relative;
      display: inline-block;
      transition: background-color 0.2s, color 0.2s, opacity 0.2s;
      padding: 0 0.2rem;
      overflow: hidden;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      
      &.j-active {
        color: var(--j-primary-color);
        button {
          color: var(--j-primary-color);
        }
      }
      &:hover {
        opacity: 0.75;
      }
      > button {
        color: var(--j-text-color);
        padding: $margin;
        background: none;
        border: none;
        outline: none;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        display: inline-flex;
      }
      .j-tabs-close {
        display: inline-block;
        line-height: 0;
        &:hover {
          background-color: var(--j-foreground-color-1);
        }
      }
    }
    .j-spacer {
      flex: 1;
    }
    .j-tabs-active-bar {
      transition: left .2s cubic-bezier(.645,.045,.355,1), width .2s;
      height: 2px;
      background-color: var(--j-primary-color);
      position: absolute;
      bottom: -2px;
    }
  }
  &[data-icon-side="left"] {
    .j-tabs-btn {
      button {
        flex-direction: row;
        .j-tabs-icon.j-icon {
          margin-right: 0.2rem;
        }
      }
    }
  }
  &[data-icon-side="top"] {
    .j-tabs-btn {
      button {
        flex-direction: column;
        .j-tabs-icon.j-icon {
          margin-bottom: 0.2rem;
        }
      }
    }
  }
  &[data-icon-side="bottom"] {
    .j-tabs-btn {
      button {
        flex-direction: column-reverse;
        .j-tabs-icon.j-icon {
          margin-top: 0.2rem;
        }
      }
    }
  }
  &[data-icon-side="right"] {
    .j-tabs-btn {
      button {
        flex-direction: row-reverse;
        .j-tabs-icon.j-icon {
          margin-left: 0.2rem;
        }
      }
    }
  }
  &[data-type="card"] {
    $border: 1px solid var(--j-foreground-color-2);
    .j-tabs-bar {
      border-bottom: none;
      .j-tabs-btn {
        border: $border;
        border-right: none;
        &:first-child {
          border-top-left-radius: 3px;
        }
        &:last-child {
          border-right: $border;
          border-top-right-radius: 3px;
        }
        &.j-active {
          border-bottom: none;
        }
      }
    }
    .j-spacer {
      border-bottom: $border;
    }
    .j-tabs-active-bar {
      display: none;
    }
  }
}

.j-tabs-scroller {
  display: flex;
  align-items: stretch;
  > .j-tabs-scroller-content {
    flex: 1;
    min-width: 0;
    overflow: hidden;

  }
  > .j-tabs-scroller-btn.j-icon {
    position: relative;
    overflow: hidden;
    height: initial;
    margin: 0 1px;
    color: var(--j-foreground-color-1);
  }
}
.j-tabs-content {
  padding: $margin 0;
  .j-tab-pane {
    width: 100%;
  }
}
