@import "vars";

.j-spinner {
  position: relative;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-flex;
  vertical-align: middle;
  &[data-size="sm"] {
    width: 16px;
    height: 16px;
  }
  &[data-size="md"] {
    width: 24px;
    height: 24px;
  }
  &[data-size="lg"] {
    width: 32px;
    height: 32px;
  }
  &:after {
    flex: 1;
    content: '';
    display: block;
    border-radius: 50%;
    margin: -2px;
    // use currentColor to control spinner color
    border-top: 2px solid currentColor;
    border-right: 2px solid transparent;
    animation: j-spinner-rotate .6s linear infinite;
  }
}

@keyframes j-spinner-rotate {
  to {
    transform: rotate(360deg)
  }
}
