.j-divider {
  box-sizing: border-box;
  position: relative;
  &:after {
    opacity: 0.1;
    background-color: var(--j-divider-color, #ccc);
    transition: opacity 0.3s, background-color 0.3s;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
  &[data-positioned="true"] {
    position: absolute;
    z-index: 1000;
  }
  &[data-vertical="true"] {
    cursor: col-resize;
    width: 2px;
  }
  &[data-vertical="false"] {
    cursor: row-resize;
    height: 2px;
  }
  &:hover {
    &:after {
      opacity: 1;
      background-color: var(--j-divider-hover-color, var(--primary-color));
      top: 0;
      left: 0;
    }
    &[data-vertical="true"]:after {
      padding: 0 1px;
      margin-left: -1px;
    }
    &[data-vertical="false"]:after {
      padding: 1px 0;
      margin-top: -1px;
    }
  }
}