@use "vars";

ul.j-listbox {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.j-listbox-item {
  position: relative;
  overflow: hidden;
  margin: 0.2rem 0;
  border-radius: 3px;
  padding: vars.$margin;
  white-space: nowrap;
  cursor: default;
  &:hover {
    background-color: var(--j-primary-color-lighter);
  }
  &.j-active {
    background-color: var(--j-primary-color);
    color: var(--j-primary-color-text);
  }
  .j-listbox-icon {
    margin-right: vars.$margin;
  }
}
