#app {
  font-family: Avenir, Ubuntu, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
}

html {
  color: var(--j-text-color);
  background-color: var(--j-background-color);
}

a {
  text-decoration: none;
}
a:link {
  color: var(--j-primary-color);
}
a:visited {
  color: inherit;
}

section {
  margin-bottom: 2rem;
}