@use "vars";

.j-snackbar {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 1rem;
  cursor: default;
  box-shadow: vars.$shadow;
  background-color: var(--j-background-color);
  color: var(--j-primary-color);
  .j-snackbar-icon {
    margin-right: vars.$margin;
  }
  .j-snackbar-label {
    flex: 1;
    max-width: 40vw;
    width: max-content;
    overflow-wrap: break-word;
    text-align: left;
  }
  .j-snackbar-close {
    margin: 0;
    margin-left: 10px;
  }
}

.j-snackbar-manager {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  left: 50%;
  bottom: 30px;
  width: 0;
  height: 0;
  z-index: 2000;
}