@import "vars";

.j-button-group {
  white-space: nowrap;
  > .j-button {
    border-radius: 0;
    margin: 0!important;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}