.j-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  $w: 20rem;
  $h: 10rem;
  padding: $margin;
  box-sizing: border-box;
  z-index: 1000;
  background-color: var(--background-color);
  color: var(--text-color);
  &[data-side="left"] {
    width: $w;
    right: auto;
  }
  &[data-side="right"] {
    width: $w;
    left: auto;
  }
  &[data-side="top"] {
    height: $h;
    bottom: auto;
  }
  &[data-side="bottom"] {
    height: $h;
    top: auto;
  }
}