// theme css
@import "./vars.scss";
@import "./theme.scss";

// component css
@import "./Button.scss";
@import "./ButtonGroup.scss";
@import "./Calendar.scss";
@import "./Checkbox.scss";
@import "./Chip.scss";
@import "./ChipEditor.scss";
@import "./ColorWheel.scss";
@import "./ContextMenu.scss";
@import "./Drawer.scss";
@import "./Input.scss";
@import "./InputGroup.scss";
@import "./Listbox.scss";
@import "./Menu.scss";
@import "./MenuBar.scss";
@import "./Popup.scss";
@import "./Progress.scss";
@import "./Radio.scss";
@import "./Scaffold.scss";
@import "./Slider.scss";
@import "./Snackbar.scss";
@import "./Spinner.scss";
@import "./SplitButton.scss";
@import "./SvgIcon.scss";
@import "./Switch.scss";
@import "./Tabs.scss";
@import "./Textarea.scss";
@import "./ToggleButton.scss";
@import "./Tree.scss";
@import "./UploadButton.scss";
@import "./ValueInput.scss";
@import "./DateInput.scss";
@import "./DateRangeInput.scss";

@import "./shadow.scss";
@import "./scroller.scss";
@import "./transition.scss";


.j-ink {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(white, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
}

.j-ink-active {
  animation: j-ripple 0.4s linear;
}

@keyframes j-ripple {  
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

#j-backdrop {
  position: fixed;
  background-color: rgba(0,0,0,.3);
  inset: 0;
}