// theme css
@import "./vars.scss";
@import "./theme.scss";
@import "./shadow.scss";
@import "./transition.scss";
@import "./ripple.scss";
@import "./loading.scss";
@import "./arrow.scss";

#j-backdrop {
  position: fixed;
  background-color: rgba(0,0,0,.3);
  inset: 0;
}