.j-menu-entry {
  position: relative;
  color: var(--text-color);
  background-color: var(--background-color);
  min-width: 5rem;
  & hr.j-seperator {
    margin: 0.2rem 0.8rem 0.2rem 2.2rem;
    border: none;
    border-bottom: 1px solid var(--neutral-color-light);
  }

  .j-menu-label {
    min-height: 2rem;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: default;
    padding: 0 1rem 0 2.2rem;
    white-space: nowrap;
    display: flex;
    position: relative;
    overflow: hidden;
    &:hover {
      color: var(--primary-color-text);
      background-color: var(--primary-color);
      // background-color: var(--primary-color-lighter);
    }
    > span {
      flex: 1;
    }
    > .j-icon {
      margin-left: $margin;
    }
  }
  .j-menu-icon {
    position: absolute;
    left: 0rem;
    top: 50%;
    margin-top: -10px;
  }
}

.j-menu {
  color: var(--text-color);
  background-color: var(--background-color);
  z-index: 1;
  &:not(:empty) {
    padding: 0.3rem 0;
  }
}

.j-menu-entry[data-side="right"] {
  > .j-menu {
    position: absolute;
    left: 100%;
    margin-left: -10px;
    top: 0;
  }
}
.j-menu-entry[data-side="bottom"] {
  > .j-menu {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
