@import "vars";

.j-table {
  $border: 1px solid var(--neutral-color-lighter);
  color: var(--text-color);
  text-align: left;
  &, table {
    border-collapse: collapse;
  }
  &[data-bordered="true"] {
    thead {
      border-top: $border;
    }
    td, th {
      border-right: $border;
    }
    tr {
      border-left: $border;
    }
  }
  &[data-fixed-header="true"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    table {
      table-layout: fixed;
      width: max-content;
    }
    > .j-head-part {
      max-width: 100%;
      overflow-x: hidden;
    }
    > .j-body-part {
      max-width: 100%;
      flex: 1;
    }
  }
  tr {
    border-bottom: $border;
  }
  th, td {
    padding: $margin 2*$margin;
    box-sizing: border-box;
    word-break: break-all;
  }
  th {
    font-weight: 500;
  }
  thead {
    tr {
      background-color: var(--background-color-1);
    }
  }
  tbody {
    tr[data-selected="true"] {
      background-color: var(--primary-color-lighter);
    }
  }
}