@use "sass:color";
@use "sass:list";

@mixin use-theme($c, $t: white) {
  --j-primary-color: #{$c};
  // transparent colors are used, since they looks bettern in dark mode
  --j-primary-color-light: #{rgba($c, 0.5)};
  --j-primary-color-lighter: #{rgba($c, 0.2)};
  --j-primary-color-lightest: #{rgba($c, 0.1)};
  --j-primary-color-text: #{$t}; // The text color on primary colored background
}

@mixin light-theme {
  --j-text-color: #333;
  --j-border-color: #ccc;
  --j-neutral-color: #555;
  --j-foreground-color: #202020;
  --j-foreground-color-1: #494949;
  --j-foreground-color-2: #bcbcbc;
  --j-background-color: white;
  --j-background-color-1: #eee;
  --j-background-color-2: #d8d8d8;
}

@mixin dark-theme {
  --j-text-color: #dedede;
  --j-border-color: #747474;
  --j-neutral-color: #ddd;
  --j-foreground-color: #ccc;
  --j-foreground-color-1: #888;
  --j-foreground-color-2: #555;
  --j-background-color: #323133;
  --j-background-color-1: #464547;
  --j-background-color-2: #494949;
}

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include use-theme(#2196f3);
  @include light-theme;
}

.j-light {
  @include light-theme;
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-theme;
  }
}

.j-dark {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

$color-config: (
  "primary": (#2196f3, white),
  "secondary": (#f82c69, white),
  "success": (#70b137, white),
  "info": (#19c1df, white),
  "warning": (#ffa149, white),
  "danger": (#da2a2a, white),
  "help": (#9c27b0, white),  
);

@each $name, $colors in $color-config {
  .j-#{$name} {
    @include use-theme(list.nth($colors, 1), list.nth($colors, 2));
  }
}

:root {
  @each $name, $colors in $color-config {
    --j-#{$name}-color: #{list.nth($colors, 1)};
  }
}