@use "sass:color";

@mixin use-theme($c, $t: white) {
  --j-primary-color: #{$c};
  // these lighter colors are not transparent
  // --j-primary-color-light: #{color.scale($c, $lightness: 40%)};
  // --j-primary-color-lighter: #{color.scale($c, $lightness: 80%)};
  // however these transparent colors are better for dark mode
  --j-primary-color-light: #{rgba($c, 0.5)};
  --j-primary-color-lighter: #{rgba($c, 0.2)};
  --j-primary-color-text: #{$t}; // the text color on primary colored background
}

@mixin light-theme {
  --j-text-color: #333;
  --j-neutral-color: #555;
  --j-foreground-color: #888;
  --j-foreground-color-1: #aaa;
  --j-foreground-color-2: #ddd;
  --j-background-color: white;
  --j-background-color-1: #f0f0f0;
  --j-background-color-2: #eee;
}

@mixin dark-theme {
  --j-text-color: #dedede;
  --j-neutral-color: #ddd;
  --j-foreground-color: #ccc;
  --j-foreground-color-1: #888;
  --j-foreground-color-2: #555;
  --j-background-color: #323133;
  --j-background-color-1: #464547;
  --j-background-color-2: #494949;
}

.j-theme-default {
  @include use-theme(#2196f3);
  @include light-theme;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.j-light {
  @include light-theme;
}

.j-dark {
  @include dark-theme;
}

.j-primary {
  @include use-theme(#2196f3);
}
.j-secondary {
  @include use-theme(#f82c69);
}
.j-success {
  @include use-theme(#70b137);
}
.j-info {
  @include use-theme(#19c1df);
}
.j-warning {
  @include use-theme(#ffa149, black);
}
.j-danger {
  @include use-theme(#da2a2a);
}
.j-help {
  @include use-theme(#9c27b0);
}