$outline: 0 0 0.06rem 0.12rem var(--primary-color-lighter);
$shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$margin: 0.4rem;
