@import "vars";

.j-scaffold {
  display: flow-root;
  min-height: 100vh;
  --j-scaffold-sidebar-width: 200px;
  --j-scaffold-appbar-height: 56px;
  .j-appbar {
    position: relative;
    height: var(--j-scaffold-appbar-height);
    background-color: var(--j-primary-color);
    color: var(--j-primary-color-text);
    padding: 0 $margin;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: left 0.2s $curve;
    .j-appbar-title {
      text-align: center;
    }
    .j-appbar-left-actions {
      position: relative;
      display: flex;
      align-items: center;
      > * {
        margin-right: 0.2rem;
      }
    }
    .j-appbar-right-actions {
      position: absolute;
      right: $margin;
      display: flex;
      align-items: center;
      > * {
        margin-left: 0.2rem;
      }
    }
    &[data-align="center"] {
      justify-content: center;
      .j-appbar-left-actions {
        position: absolute;
        left: 0;
      }
    }
  }
  .j-scaffold-nav {
    position: fixed;
    transform: translateX(calc(var(--j-scaffold-sidebar-width) * -1));
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--j-scaffold-sidebar-width);
    box-sizing: border-box;
    transition: transform 0.2s $curve;
    padding: $margin;
    background-color: var(--j-background-color-1);
  }
  .j-scaffold-appbar {
    height: var(--j-scaffold-appbar-height);
    background-color: var(--j-primary-color);
    color: var(--j-primary-color-text);
    padding: 0 $margin;
    margin: -$margin;
    margin-bottom: initial;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .j-scaffold-content {
    transition: margin-left 0.2s $curve;
    display: flow-root;
    margin-top: var(--j-scaffold-appbar-height);
    min-height: calc(100vh - #{var(--j-scaffold-appbar-height)});
    box-sizing: border-box;
    padding: $margin;
  }
  &[data-has-nav="true"][data-wide="true"][data-expanded="false"] {
    .j-appbar {
      left: var(--j-scaffold-sidebar-width);
    }
    .j-scaffold-nav {
      transform: translateX(0);
    }
    .j-scaffold-content {
      margin-left: var(--j-scaffold-sidebar-width);
    }
  }
}
