@import "vars";

.j-tree-item {
  > .j-tree-row {
    position: relative;
    overflow: hidden;
    display: flex;
    cursor: default;
    border-radius: 3px;
    padding: $margin 2*$margin;
    padding-right: $margin;
    &:hover {
      background-color: var(--j-primary-color-lighter);
    }
    > .j-tree-arrow {
      transition: transform 0.2s $curve;
    }
    &[data-open="true"] {
      > .j-tree-arrow {
        transform: rotateZ(90deg);
      }
    }
    > span {
      flex: 1;
    }
    > .j-tree-icon {
      margin-right: 0.5rem;
    }
  }
  > .j-tree {
    margin-left: 1rem;
  }
}
