@import "vars";

.j-tree-item {
  &[data-selected="true"] {
    > .j-tree-row {
      background-color: var(--j-primary-color-lightest);
    }
  }
  > .j-tree-row {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: default;
    border-radius: 3px;
    padding: $gap;
    &:hover {
      background-color: var(--j-primary-color-lighter);
    }
    > .j-tree-arrow {
      transition: transform 0.2s $curve;
    }
    > .j-tree-row-indent {
      width: var(--j-tree-indent, 10px);
    }
    &[data-open="true"] {
      > .j-tree-arrow {
        transform: rotateZ(90deg);
      }
    }
    > .j-spacer {
      flex: 1;
    }
    > .j-tree-icon {
      margin-right: 0.5rem;
    }
  }
}
