@import "vars";

.j-input {
  display: inline-flex;
  border-radius: 3px;
  border: 1px solid var(--j-foreground-color-1);
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 16rem;
  align-items: center;
  > input {
    padding: $margin;
    border: none;
    outline: none;
    background: none;
    flex: 1;
    min-width: 0;
    color: var(--j-text-color);
  }
  &[data-focus="true"] {
    box-shadow: $outline;
    border-color: var(--j-primary-color);
    outline: none;
    z-index: 1;
  }
  &:hover:not([data-disabled="true"]) {
    border-color: var(--j-primary-color);
  }
  &[data-disabled="true"] {
    background-color: #eee;
    cursor: not-allowed;
    > input {
      cursor: not-allowed;
    }
  }
  &[data-has-prepend="true"] {
    input {
      margin-left: 0.5rem;
      padding-left: 0;
    }
  }
  &[data-has-append="true"] {
    input {
      margin-right: 0.5rem;
      padding-right: 0;
    }
  }
  > .j-input-prepend, > .j-input-append {
    color: var(--j-foreground-color-1);
  }
  > .j-input-prepend .j-icon {
    margin-left: $margin;
  }
  > .j-input-append .j-icon, > input ~ .j-icon {
    margin-right: $margin;
  }
  .j-input-clear {
    visibility: hidden;
    cursor: pointer;
  }
  &[data-can-clear="true"] {
    .j-input-clear {
      visibility: visible;
    }
  }
}
